<?xml version="1.0"?>
<robot xmlns:xacro='http://www.ros.org/wiki/xacro'>
    <!-- 引入宏文件 -->
    <xacro:include filename='$(find robot)/urdf/project_robot/common_inertial.xacro'/>

    <xacro:macro name='laser_xacro' params='xyz'> 
        <!-- 雷达支撑杆 -->
        <link name="laser_cylinder_link">
            <!--描述-->
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                        <cylinder radius="0.01" length="0.10"/>
                </geometry>
                <material name = 'black'>
                    <color rgba="0.0 0.0 0.0 0.10"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                        <cylinder radius="0.01" length="0.10"/>
                </geometry>
                <material name = 'black'>
                    <color rgba="0.0 0.0 0.0 0.10"/>
                </material>
            </collision>
            <!-- 质量惯性 -->
            <xacro:cylinder_inertia m='0.05' r='0.01' h='0.10'/>
        </link>

        <!-- 雷达 -->
        <link name="laser_link">
            <!--描述-->
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                        <cylinder radius="0.02" length="0.02"/>
                </geometry>
                <material name = 'black'>
                    <color rgba="0.0 0.0 0.0 0.10"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                        <cylinder radius="0.02" length="0.02"/>
                </geometry>
                <material name = 'black'>
                    <color rgba="0.0 0.0 0.0 0.10"/>
                </material>
            </collision>
            <!-- 质量惯性 -->
            <xacro:cylinder_inertia m='0.10' r='0.02' h='0.02'/>
        </link>

        <joint name="laser_joint" type="fixed">
            <!-- 计算雷达杆几何中心 将雷达固定到雷达杆上 -->
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
            <parent link="laser_cylinder_link"/>
            <child link="laser_link"/>
        </joint>

        <!-- 固定整体到基础部件上 -->
        <joint name="laser_cylinder_joint" type="fixed">
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
            <parent link="base_link"/>
            <child link="laser_cylinder_link"/>
        </joint>

        <!-- gazebo标签 扩展以显现颜色 -->
        <gazebo reference='laser_cylinder_link'>
            <material>Gazebo/White</material>
        </gazebo>
        <gazebo reference='laser_link'>
            <material>Gazebo/White</material>
        </gazebo>
        
    </xacro:macro>  
</robot>
<!-- 传感器部件宏 -->